<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/nanopost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>글 목록</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>다섯 글자로 나누는 이야기</h1>

    <h2>
      장황한 말대신 다섯 글자로 당신의 이야기를 전해보세요, 5NS.
    </h2>

    <%= link_to "지금 가입하세요!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>