<li>
  <div class="avatar-thumb">
    <%= avatar_for user %>
  </div>
  <%= link_to user.name, user, class: "user-name" %>
  <span class="user-profile"><%= user.profile if user.profile? %></span>
</li>