<%= form_for(@nanopost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :content, placeholder: "다섯 글자로 당신의 이야기를 전해보세요." %>
  </div>
  <%= f.submit "작성", class: "btn btn-primary" %>
<% end %>