<% @user ||= current_user %>
<div class="avatar-info">
  <%= avatar_for(@user, type: 'circle') %>
</div>
<h1>
  <%= link_to @user.name, @user %>
  <% if @user == current_user %>
    <a href="<%= edit_user_registration_path %>" class="btn btn-default btn-xs">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
  <% end %>
</h1>
<% if @user.profile? %>
  <span class="profile"><%= @user.profile %></span>
<% end %>