<footer class="footer">
  <small>
    다섯자로 나누는 이야기, <%= link_to "5NS", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>